$colour-brown-light: #2C0703;
$colour-blue: rgba(0,37,62, 1);
$colour-blue-faded: rgba(0,37,62, 0.9);
$colour-blue-light: #23448d;


$colour-gold: #c29b40;
$colour-salmon: #DB7F67;

$colour-white-font: #fff;
$colour-grey-font: #333;