@import '../styles/shared/colours';
@import '../styles/shared/keyframes';
@import '../styles/shared/global';




.inventory__items__container__outer {
    margin: 0 2vw;
    .inventory__items__container__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: calc(3rem + 2vh);
        margin: 0 auto;
        max-width: 60rem;
        margin: 0 auto;
    }
}




